
exports.config =
  email :
    from :
      name : "Max Krohn's Daily Burn"
      email : "themax+ses@gmail.com"
    to :
      name : "Max Krohn"
      email : "themax@gmail.com"
    reply:
      name : "Max Krohn's Daily Burn"
      email : "themax+archive@gmail.com"
    subject : "%w %y-%m-%d --- Daily Burn" 
  amazon :
    ses :
      user : "daily-burn"
      access_key_id : "AK...."
      secret_access_key : "F..."
